atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.10.15
cffi==1.11.5
cloudpickle==0.6.1
cycler==0.10.0
dask==0.20.2
decorator==4.3.0
h5py==2.8.0
imageio==2.4.1
kiwisolver==1.0.1
matplotlib==3.0.1
mkl-fft==1.0.6
mkl-random==1.0.1
more-itertools==4.3.0
networkx==2.2
numpy==1.15.4
olefile==0.46
Pillow==5.3.0
pluggy==0.8.0
protobuf==3.6.1
py==1.7.0
pycparser==2.19
pyparsing==2.3.0
pytest==4.0.0
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
runstats==1.7.1
scikit-image==0.14.0
scipy==1.1.0
six==1.11.0
tensorboardX==1.4
toolz==0.9.0
torch==0.4.1.post2
torchvision==0.2.1
tornado==5.1.1